<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--启动包扫描-->
    <context:component-scan base-package="com" />
    <!--导入外部文件-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:db.properties</value>
            </array>
        </property>
    </bean>
    <!--c3p0-->
    <bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="dataSource">
        <property name="driverClass" value="${mysql.driver}"/>
        <property name="jdbcUrl" value="${mysql.url}"/>
        <property name="user" value="${mysql.user}"/>
        <property name="password" value="${mysql.pwd}"/>
        <property name="maxIdleTime" value="${mysql.maxIdleTime}"/>
    </bean>
    <!--配置mybatis-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
        <!--导入数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--扫描sql配置文件-->
        <!--<property name="mapperLocations" value="classpath*:com/daoImp/*.xml"/>-->
        <property name="mapperLocations" value="classpath*:daoImp/*.xml"/>

    </bean>

    <!--配置mybatis映射器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
        <!--注入sessionfactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--需要扫描的接口包-->
        <property name="basePackage" value="com.dao"/>
        <!--<property name="markerInterface" value="com.dao.FruitDao"/>-->
    </bean>

    <!--配置事物管理器-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--启动基于注解的事务管理-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>